@{
    ViewBag.Title = "Home Page";
}

<h2>Auto complete search with jquery-typehead</h2>
<div class="row">
    <div class="col-md-3">
        @*Input auto complete*@
        <div class="typeahead__container">
            <div class="typeahead__field">

                <span class="typeahead__query">
                    <input class="js-typeahead"
                           name="q"
                           type="search"
                           placeholder="Enter product name or brand"
                           autocomplete="off">
                </span>
            </div>
        </div>

    </div>
    <div class="col-md-4">
        @*Submit button*@
        <input type="submit" name="submit" value="Search" class="btn btn-primary" />
    </div>
</div>

@section scripts{
    <script>
        $.typeahead({
            input: ".js-typeahead",
            order: "asc",
            source: {
                "Phones": {
                    ajax: {
                        url: "/Home/GetValueAutoComplate",
                        path: "Phones"
                    },
                    display: "Name"
                },
                "Brands": {
                    ajax: {
                        url: "/Home/GetValueAutoComplate",
                        path: "Brands"
                    },
                    display: "Name"
                }
            },
            callback: {
                onClickAfter: function (node, a, item, event) {
                }
            }
        });
    </script>
}