@model AutoCompleteSearch.Models.IndexView

@{
    ViewBag.Title = "Home Page";
}

<h2>Auto complete search with jquery-typehead</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-3">
            @*Input auto complete*@
            <div class="typeahead__container">
                <div class="typeahead__field">

                    <span class="typeahead__query">
                        <input class="js-typeahead"
                               name="q"
                               type="search"
                               placeholder="Enter product name or brand"
                               autocomplete="off">
                    </span>
                </div>
            </div>

            @*hidden value for search*@
            @Html.HiddenFor(x=>x.Keyword, new { @id= "Keyword" })
            @Html.HiddenFor(x => x.Type, new { @id = "TypeSearch" })
        </div>
        <div class="col-md-4">
            @*Submit button*@
            <input type="submit" name="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
}


@section scripts{
    <script>
        $.typeahead({
            input: ".js-typeahead",
            order: "asc",
            hint: true,
            group: {
                template: "{{group}}"
            },
            maxItemPerGroup: 5,
            template: function (query, item) {
                return "<div class='suggest-item'>{{Name}} - <small>{{Description}}</small></div>";
            },
            source: {
                "Phones": {
                    ajax: {
                        url: "/Home/GetValueAutoComplate",
                        path: "Phones"
                    },
                    display: "Name"
                },
                "Brands": {
                    ajax: {
                        url: "/Home/GetValueAutoComplate",
                        path: "Brands"
                    },
                    display: "Name"
                }
            },
            callback: {
                onClickAfter: function (node, a, item, event) {
                    $('#TypeSearch').val(item.group);
                    $('#Keyword').val(item.Name);
                }
            }
        });
    </script>
}